        .NavbarLogo {
            height: 50px;
        }

        .parallax, .parallaxFSOC, .parallaxJODF, .parallaxEF, .parallaxVC, .parallaxOTPS {
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .parallax {
            background-image: url("images/PageMainImages/WhatIsConservatoria.png");
            min-height: 1080px;
        }

        .parallaxFSOC {
            background-image: url("images/SliderImages/ConservatoriaMap.png");
            min-height: 1080px;
        }

        .parallaxVC {    
            background-image: url("images/PageMainImages/WhatIsConservatoria.png");
            min-height: 1080px;
        }

        .parallaxOTPS {
            background-image: url("images/PageMainImages/WhatIsConservatoria.png");
            min-height: 1080px;
        }

        .parallaxEF {
            background-image: url("images/PageMainImages/WhatIsConservatoria.png");
            min-height: 1080px;
        }

        .parallaxJODF {
            background-image: url("images/PageMainImages/WhatIsConservatoria.png");
            min-height: 1080px;
        }

        @media only screen and (max-device-width: 1024px) {
            .parallax, .parallaxFSOC, .parallaxEF, .parallaxVC, .parallaxOTPS, .parallaxJODF  {
                background-attachment: scroll;
            }
        }

        .caption {
            left: 0%;
            position: absolute;
            text-align: center;
            top: 70%;
            width: 100%;
            color: White;
            border-color: transparent;
            max-height: 100px;
        }

        .captionOTPS {
            left: 0%;
            position: absolute;
            text-align: center;
            top: 70%;
            width: 100%;
            color: White;
            border-color: transparent;
            max-height: 100px;
        }

        .captionEF {
            left: 0%;
            position: absolute;
            text-align: center;
            top: 70%;
            width: 100%;
            color: White;
            border-color: transparent;
            max-height: 100px;
        }

        .captionVC {
            left: 0%;
            position: absolute;
            text-align: center;
            top: 70%;
            width: 100%;
            color: White;
            border-color: transparent;
            max-height: 100px;
        }

        .captionJODF {
            left: 0%;
            position: absolute;
            text-align: center;
            top: 70%;
            width: 100%;
            color: White;
            border-color: transparent;
            max-height: 100px;
        }

        .captionFSOC {
            left: 0%;
            position: absolute;
            text-align: left;
            top: 42%;
            width: 100%;
            color: White;
            border-color: transparent;
            max-height: 400px;
        }

        .MainPageHeading {
            letter-spacing: 10px;
            padding: 18px;
            background-color: transparent;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .headingEF {
            letter-spacing: 10px;
            padding: 18px;
            background-color: transparent;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .headingJODF {
            letter-spacing: 10px;
            padding: 18px;
            background-color: transparent;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .headingOTPS {
            letter-spacing: 10px;
            padding: 18px;
            background-color: transparent;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .headingVC {
            letter-spacing: 10px;
            padding: 18px;
            background-color: transparent;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }

        .MainPageSubHeading1 {
            text-align: center;
        }

        .MainPageSubHeading2 {
            text-align: center;
        }

        .MainPageSubHeading3 {
            text-align: center;
        }

        .contentWIC {
            color: white;
            padding: 50px 80px;
            background-color: #E48D8D;
            text-align: center;
            border: 2px solid black;
        }

        .Line {
            height: 500px;
        }

        .headingFSOC {
            letter-spacing: 10px;
            padding: 18px;
            background-color: transparent;
            color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            max-width: 300px;
        }

        .contentFSOC {
            color: white;
            padding:2px 80px;
            background-color: #E48D8D;
            text-align: center;
            border: 2px solid black;
        }

        .WestRedneckSubheading {
            text-align: center;
        }

        .p1FSOC {
            font-size: 20px;
        }


        .SigmanincelSubHeading {
            text-align: center;
        }

        .p2FSOC {
            font-size: 20px;
        }

        .BrethrenSubHeading {
            text-align: center;
        }

        .p3FSOC {
            font-size: 20px;
        }
        

        .contentVC {
            color: white;
            padding: 50px 80px;
            background-color: #E48D8D;
            text-align: center;
            border: 2px solid black;
        }

        .contentOTPS {
            color: white;
            padding: 50px 80px;
            background-color: #E48D8D;
            text-align: center;
            border: 2px solid black;
        }

        .contentEF {
            color: white;
            padding: 50px 80px;
            background-color: #E48D8D;
            text-align: center;
            border: 2px solid black;
        }

        .contentJODF {
            color: white;
            padding: 50px 80px;
            background-color: #E48D8D;
            text-align: center;
            border: 2px solid black;
        }
